<%= label(:recipe, :title)%>: <%= form.text_field :title %><br />
<%= label(:recipe, :bake_temperature) %>: <%= form.text_field :bake_temperature %><br />
<%= label(:recipe, :prep_time) %>: <%= form.text_field :prep_time %><br />
<%= label(:recipe, :cook_time_hours) %>: <%= form.text_field :cook_time_hours %><br />
<%= label(:recipe, :cook_time_minutes) %>: <%= form.text_field :cook_time_minutes %><br />
<%= label(:recipe, :preparation) %>: <%= form.text_area :preparation %><br />
<%= label(:recipe, :yield) %>: <%= form.text_field :yield %><br />
<%= label(:recipe, :source) %>: <%= form.text_field :source %><br />
<%= label(:recipe, :image_url) %>: <%= form.text_field :image_url %><br />