<div class="panel" title="Recipe" selected="true">

	<h3><%= @recipe.title %></h3>

	<h2>Source</h2>
	<p><%= @recipe.source %></p>

	<h2>Yield</h2>
	<p><%= @recipe.yield %></p>

	<h2>Preparation</h2>
	<p><%= @recipe.preparation %></p>

</div>
